
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color:#000;
    color: #fff;
}
h1{
    margin: 20px;
    text-align: center;
}
h2{
    margin: 20px;
}
