*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
    background-color: #000;
}

.head-tabs{
    margin: 0 auto;
    padding: 15px 20px;
    width: 1440px;
    display: flex;
    justify-content: space-between;
    //background-color: #555;
    div{
        width: 0 auto;
        padding: 20px 40px;
        font-weight: 700;
        font-size: 24px;
        background-color:rgb(228, 88, 88);
        color: #fff;
        border-radius: 50%;
        cursor: pointer;
    }
    div:nth-child(2){
        background-color: rgb(128, 128, 245);
    }
    div:nth-child(3){
        background-color: rgb(169, 245, 169);
    }
    div:nth-child(4){
        background-color: rgb(220, 235, 92);
    }
    .tab-link_active{
        transition: all 2s;
        transform: rotate(360deg);
    }
}
.display-tabs{
    margin: 0 auto;
    width: 1440px;
    height: 650px;
    padding: 30px 10px;
    .tab{
        display: none;
        align-items: center;
        justify-content: center;
        width: 1440px;
        height: 100%;
        font-size: 48px;
        color:#fff;
        background-color:rgb(228, 88, 88);
    }
    .tab:nth-child(2){
        background-color: rgb(128, 128, 245);
    }
    .tab:nth-child(3){
        background-color: rgb(169, 245, 169);
    }
    .tab:nth-child(4){
        background-color: rgb(220, 235, 92);
    }
    .tab-active{
        display: flex;
    }
}
