body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    .counter-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 200px;
        height: 100px;
        background-color: #e71b1b;
        color: #FFF;
        button{
            padding: 4px 12px;
            text-align: center;
            background-color: #000;
            color:#FFF;
        }
    }
}